<head>
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<router-outlet></router-outlet>
<body>
  <div class="title">
    <h2>Painel Administrativo</h2>
    <h3>Administração de Tabelas</h3>
  </div>
  <nav>
    <button routerLink="painel-hospital" class="button">Hospital</button>
    <button routerLink="painel-especialidade" class="button">Especialidade</button>
    <button routerLink="painel-profissional" class="button">Profissional</button>
    <button routerLink="painel-beneficiario" class="button">Beneficiários</button>
    <button routerLink="painel-agendamento" class="last-button">Agendamentos</button>
  </nav>
</body>
