<head>
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<div class="title-top">
  <h2>Editar Agendamento</h2>
</div>
<form class="personal">

  <div class="input">
    <label>Dia:</label>
    <input />
  </div>

  <div class="input">
    <label>Horário:</label>
    <input />
  </div>

  <div class="input">
    <label>Especialidade:</label>
    <input />
  </div>

  <div class="input">
    <label>Doutor:</label>
    <input />
  </div>

  <div class="input">
    <label>Hospital:</label>
    <input />
  </div>


  <input type="submit" class="submit" value="Editar" routerLink="/"/>

</form>



