<head>
</head>
<div class="title-top">
  <h1>Cadastro Beneficiário</h1>
  <div class="cards">

    <div routerLink="/cadastro-hospital" class="card">
      <img class="hospital" src="../assets/hospital.png"/>
      <p>Hospital</p>
    </div>

    <div class="card">
      <img class="usuario" src="../assets/usuario.png"/>
      <p>Beneficiário</p>
    </div>

    <div routerLink="/cadastro-medico" class="last-card">
      <img class="profissional" src="../assets/profissional.png"/>
      <p>Profissional</p>
    </div>

  </div>
</div>
<div class="personal">

  <h2 class="text">Dados Pessoais</h2>

  <div class="input">
    <label for="nomeBeneficiario">Nome:</label>
    <input id="nomeBeneficiario" [(ngModel)]="beneficiario.nome" name="nomeBeneficiario" type="text"/>
  </div>

  <div class="input">
    <label for="cpfBeneficiario">CPF:</label>
    <input id="cpfBeneficiario" [(ngModel)]="beneficiario.cpf" name="cpfBeneficiario" type="text"/>
  </div>

  <div class="input">
    <label for="telefoneBeneficiario">Telefone:</label>
    <input id="telefoneBeneficiario" [(ngModel)]="beneficiario.telefone" name="telefoneBeneficiario" type="text"/>
  </div>

  <div class="input">
    <label for="enderecoBeneficiario">Endereço:</label>
    <input id="enderecoBeneficiario" [(ngModel)]="beneficiario.endereco" type="text" name="enderecoBeneficiario"/>
  </div>

  <div class="input">
    <label for="numeroCarteirinhaBeneficiario">Nº da Carteira de Saúde:</label>
    <input id="numeroCarteirinhaBeneficiario"  [(ngModel)]="beneficiario.numeroCarteirinha" type="text" name="numeroCarteirinhaBeneficiario"/>
  </div>

  <h2 class="text">Dados Para Login</h2>
  <div class="input">
    <label for="emailBeneficiario">Email:</label>
    <input id="emailBeneficiario" [(ngModel)]="beneficiario.email"  type="email" name="emailBeneficiario"/>
  </div>

  <div class="input">
    <label for="senhaBeneficiario">Senha:</label>
    <input type="password" id="senhaBeneficiario" [(ngModel)]="beneficiario.senha" name="senhaBeneficiario"/>
  </div>

  <input type="submit" class="submit" value="Cadastrar" routerLink="/" (click)="salvar()"/>

</div>


