<head>
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<router-outlet></router-outlet>
<body>
  <div class="title">
    <h1>Agendar Consulta</h1>
    <h3>Nome Pessoa</h3>
  </div>

  <form>
    <div class="input">
      <label>Especialidade</label>
      <select class="dropdown" size="1">
        <option value="volvo">Volvo</option>
        <option value="volvo">Vfasd</option>
        <option value="volvo">Volvo</option>
      </select>
    </div>

    <div class="input">
      <label>Hospital</label>
      <select class="dropdown" size="1">
        <option value="volvo">Volvo</option>
        <option value="volvo">Vfasd</option>
        <option value="volvo">Volvo</option>
      </select>
    </div>

    <div class="input">
      <label>Doutor</label>
      <select class="dropdown" size="1">
        <option value="volvo">Volvo</option>
        <option value="volvo">Vfasd</option>
        <option value="volvo">Volvo</option>
      </select>
    </div>

    <div class="input">
      <label>Data/Horário</label>
      <select class="dropdown" size="1">
        <option value="volvo">Volvo</option>
        <option value="volvo">Vfasd</option>
        <option value="volvo">Volvo</option>
      </select>
    </div>

    <input type="submit" value="Marcar Consulta"/>
  </form>

  <h3 class="ag">Agendamentos</h3>

  <table>
    <thead>
      <tr>
        <th>Dia</th>
        <th>Horário</th>
        <th>Espec.</th>
        <th>Doutor</th>
        <th>Hospital</th>
        <th class="icons"></th>
        <th class="icons"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="body">
        <td>teste</td>
        <td>teste</td>
        <td>teste</td>
        <td>teste</td>
        <td>teste</td>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


        <td class="icons">
          <img class="icons" src="../../../assets/editar.svg"/>
        </td>
        <td class="icons">
          <img class="icons" src="../../../assets/deletar.svg"/>
        </td>

      </tr>
    </tbody>
  </table>

</body>
