<head>
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<div class="title-top">
  <h1>Cadastro Prossional</h1>
  <div class="cards">

    <div routerLink="/cadastro-hospital" class="card">
      <img class="hospital" src="../assets/hospital.png"/>
      <p>Hospital</p>
    </div>

    <div class="card" routerLink="/cadastro-usuario">
      <img class="usuario" src="../assets/usuario.png"/>
      <p>Beneficiário</p>
    </div>

    <div class="last-card">
      <img class="profissional" src="../assets/profissional.png"/>
      <p>Profissional</p>
    </div>

  </div>
</div>

<form>

  <div class="input">
    <label>Nome:</label>
    <input />
  </div>

  <div class="input">
    <label>Telefone: </label>
    <input />
  </div>

  <div class="input">
    <label>Endereço: </label>
    <input />
  </div>

  <div class="input">
    <label>Horário de Atendimento: </label>
    <input />
  </div>

  <button routerLink="/">Cadastrar</button>
</form>
