<head>
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<div class="title-top">
  <h1>Cadastro Prossional</h1>
  <div class="cards">

    <div routerLink="/cadastro-hospital" class="card">
      <img class="hospital" src="../assets/hospital.png"/>
      <p>Hospital</p>
    </div>

    <div class="card" routerLink="/cadastro-usuario">
      <img class="usuario" src="../assets/usuario.png"/>
      <p>Beneficiário</p>
    </div>

    <div class="last-card">
      <img class="profissional" src="../assets/profissional.png"/>
      <p>Profissional</p>
    </div>

  </div>
</div>

<div class="personal">

  <div class="input">
    <label for="nomeProfissional">Nome:</label>
    <input id="nomeProfissional" [(ngModel)]="profissional.nome" name="nomeProfissional" type="text"/>
  </div>

  <div class="input">
    <label for="telefoneProfissional">Telefone:</label>
    <input id="telefoneProfissional" [(ngModel)]="profissional.telefone" name="telefoneProfissional" type="text"/>
  </div>

  <div class="input">
    <label for="enderecoProfissional">Endereco:</label>
    <input id="enderecoProfissional" [(ngModel)]="profissional.endereco" name="enderecoProfissional" type="text"/>

    <input type="submit" class="submit" value="Cadastrar" routerLink="/" (click)="salvar()"/>
</div>
