<head>
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<div class="title-top">
  <h1>Cadastro Hospital</h1>
  <div class="cards">

    <div class="card">
      <img class="hospital" src="../assets/hospital.png"/>
      <p>Hospital</p>
    </div>

    <div routerLink="/cadastro-usuario" class="card">
      <img class="usuario" routerLink="/cadastro-usuario" src="../assets/usuario.png"/>
      <p>Beneficiário</p>
    </div>

    <div routerLink="/cadastro-medico" class="last-card">
      <img class="profissional" src="../assets/profissional.png"/>
      <p>Profissional</p>
    </div>

  </div>
</div>

<div class="form">

  <div class="input">
    <label for="nomeHospital">Nome:</label>
    <input id="nomeHospital" [(ngModel)]="hospital.nome" name="nomeHospital" type="text"/>
  </div>

  <div class="input">
    <label for="cnpjHospital">Cnpj:</label>
    <input id="cnpjHospital" [(ngModel)]="hospital.cnpj" name="cnpjHospital" type="text"/>
  </div>

  <div class="input">
    <label for="enderecoHospital">Endereco:</label>
    <input id="enderecoHospital" [(ngModel)]="hospital.endereco" name="enderecoHospital" type="text"/>
  </div>

  <div class="input">
    <label for="telefoneHospital">Telefone:</label>
    <input id="telefoneHospital" [(ngModel)]="hospital.telefone" name="telefoneHospital" type="text"/>
  </div>

  <div class="input">
    <label for="cnesHospital">CNES:</label>
    <input id="cnesHospital" [(ngModel)]="hospital.cnes" name="cnesHospital" type="text"/>
  </div>

  <input type="submit" class="submit" value="Cadastrar" routerLink="/" (click)="salvar()"/>
</div>
